<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mg.mgmap"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />

    <application
        android:name="mg.mgmap.application.MGMapApplication"
        android:allowBackup="true"
        android:icon="@drawable/mg_map"
        android:label="MGMapViewer"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppFullScreenTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name="mg.mgmap.activity.mgmap.MGMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- 23.10.2018 MG: intent-filter for files must have host tag, then it filters on pathPattern (not only on mimeType) -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.gpx" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <!-- 23.10.2018 MG: intent-filter for email appendix must not have host tag, then it filters on mimeType -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/gpx" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="text/xml" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <!-- 20.08.2020 MG: intent-filter for map download -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mf-v4-map" />
            </intent-filter>
            <intent-filter>
                <!-- 20.08.2020 MG: intent-filter for theme download -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mf-theme" />
            </intent-filter>
        </activity>
        <activity
            android:name="mg.mgmap.activity.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings"
            android:parentActivityName="mg.mgmap.activity.mgmap.MGMapActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.statistic.TrackStatisticActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Track Selection"
            android:parentActivityName="mg.mgmap.activity.mgmap.MGMapActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="mg.mgmap.activity.theme.ThemeSettings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Theme_Settings"
            android:parentActivityName="mg.mgmap.activity.mgmap.MGMapActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="mg.mgmap.activity.height_profile.HeightProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Height Profile"
            android:parentActivityName="mg.mgmap.activity.mgmap.MGMapActivity"
            android:launchMode="singleTask"/>

        <service
            android:name="mg.mgmap.service.location.TrackLoggerService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name="mg.mgmap.service.bgjob.BgJobService"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="mg.mgmap.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
